#header-logo{
    padding-top: 10px;
    width: 75px;
}
#Bottonlogin{
    background-color: #111111;
}
#Logo-inicio{
    padding-bottom: 300px;
}
#Facilidade{
    background-color: #39b54a;
    color: white;
    width: auto;
    height: 400px;
}
#Botão-de-criar{
    background-color: white;
    color: black;
    border-radius: 20px;
    width: auto;
    height: auto;
}
#Botão-de-criar:hover{
    background-color: rgb(230, 227, 227);
}
#Ajuda{
    background-color: white;
}
#Botão-equipe{
    background-color: white;
    color: black;
    border-radius: 20px;
    width: auto;
    height: auto;
    margin-left: 33%;
    margin-right: 50%;
}
#Botão-equipe:hover{
    background-color: rgb(230, 227, 227);
}
#download{
    background-color: white;
}
